<html>
  
  <head>
    
    {% load static %}
    
    <!-- Incluir los archivos estáticos de Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Bootstrap -->
    <link href="{% static 'ohmydogapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'ohmydogapp/css/gestion.css'%}" rel="stylesheet">
    {% if request.user.is_staff %}
    <div style="background-color: rgb(237, 237, 20); color: black;">
      <h7 style="margin-left: 630px;">Ingresaste en modo administrador</h7>
   
    </div>
    {% endif %}
</head>

<body>
  <div class="nav-grande">
    <div class="barra-superior">
      <a href="{% url 'home' %}">
        <img src="{% static 'ohmydogapp/img/logo.jpeg' %}" alt="" class="logo" style="margin-left: 5%; margin-top: 5%;" >
      </a>
      <h1 style="font-size:xx-large; margin: auto;">¡OHMYDOG!</h1>
    
      {% if not request.user.is_authenticated %}
         <a href="{% url 'loguear' %}" class="boton-iniciar-sesion">Iniciar sesión</a> 
    {%  endif %}

      {% if request.user.is_authenticated %}
      <div style="margin-right: 2%;"> 
          <h6>¡Hola {{request.user.nombre}}! </h6> 
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mi cuenta
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
              <a class="dropdown-item" href="#">Cambiar contraseña</a>
            </div>
          </div>
      {%endif%}
    </div>
    </div>
  </div>
  
  <hr>

        
  
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  
    <div class="container" style="text-align: center; margin: auto;">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'home' %}">Oh My Dog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav nav-fill">
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Inicio</a>
          </li>
          {% if request.user.is_authenticated and not user.is_staff %}
      
        <li class="nav-item dropdown px-lg-4">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMisMascotas" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            MIS MASCOTAS
          </a>
          <div class="dropdown-menu" style="background-color: rgb(12, 159, 159)" aria-labelledby="navbarDropdownServicios">
            <a class="dropdown-item nav-link text-uppercase text-expanded" href="{% url 'ver_mis_mascotas' %}" style="background-color: transparent !important; color:rgb(246, 240, 237);">VER MIS MASCOTAS</a>

            <a class="dropdown-item nav-link text-uppercase text-expanded" href="{% url 'alta_mascota' %}" style="background-color: transparent !important; color: rgb(246, 240, 237);">AGREGAR NUEVA MASCOTA</a>
            <!--{% url 'veterinariasDeTurno'%}" poner eso en href cuando sea necesario-->
          </div>
        </li>
       
          {% endif %}
        

          {% if request.user.is_staff %}
          <li class="nav-item {% if request.path == '/register/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'register'%}" >REGISTRAR USUARIO</a>
          </li>
          {% endif %}

          {% if request.user.is_authenticated and not user.is_staff %}
          <li class="nav-item {% if request.path == '/mis_turnos/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'mis_turnos' %}">MIS TURNOS</a>
          </li>
          {% endif %}


      {% if request.user.is_staff %}
      <li class="nav-item dropdown px-lg-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownServicios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          TURNOS
        </a>
        <div class="dropdown-menu" style="background-color: rgb(12, 159, 159)" aria-labelledby="navbarDropdownServicios">
          <a class="dropdown-item nav-link text-uppercase text-expanded" href="{% url 'turnos_pendientes' %}" style="background-color: transparent !important; color:rgb(246, 240, 237);">Ver turnos pendientes</a>
          <a class="dropdown-item nav-link text-uppercase text-expanded" href="{% url 'turnos_activos' %}" style="background-color: transparent !important; color: rgb(246, 240, 237);">Ver turnos activos</a>
          <a class="dropdown-item nav-link text-uppercase text-expanded" href="{% url 'turnos_pasados' %}" style="background-color: transparent !important; color: rgb(246, 240, 237);">Ver turnos finalizados</a>
        
        </div>
      </li>
      {% endif %}

      {% if request.user.is_staff or  not request.user.is_authenticated%}
      <li class="nav-item {% if request.path == '/adopcion/' %}active{% endif %} px-lg-4">
        <a class="nav-link text-uppercase text-expanded" href="{% url 'adopcion' %}" >VER PERROS EN ADOPCIÓN</a>
      </li>
      {% endif %}
       
      {% if request.user.is_authenticated and not user.is_staff %}
          <li class="nav-item dropdown px-lg-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownServicios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ADOPCION
            </a>
            <div class="dropdown-menu" style="background-color: rgb(12, 159, 159)" aria-labelledby="navbarDropdownServicios">
              <a class="dropdown-item nav-link text-uppercase text-expanded" href="{% url 'adopcion' %}" style="background-color: transparent !important; color:rgb(246, 240, 237);">Ver perros en adopcion</a>
              <a class="dropdown-item nav-link text-uppercase text-expanded" href="{% url 'ver_mis_perros_en_adopcion' %}" style="background-color: transparent !important; color: rgb(246, 240, 237);">Ver mis perros en adopcion</a>
              <a class="dropdown-item nav-link text-uppercase text-expanded" href="{% url 'solicitud' %}" style="background-color: transparent !important; color: rgb(246, 240, 237);">Publicar perro en adopcion</a>      
            </div>
          </li>
      {% endif %}

      {% if not request.user.is_staff or  not request.user.is_authenticated%}
      <li class="nav-item {% if request.path == '/donaciones/' %}active{% endif %} px-lg-4">
        <a class="nav-link text-uppercase text-expanded" href="{% url 'donaciones'%}" >VER CAMPAÑAS DE DONACIÓN</a>
      </li>
      {% endif %}
       
      {% if request.user.is_staff %}
          <li class="nav-item dropdown px-lg-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownServicios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              DONACIONES
            </a>
            <div class="dropdown-menu" style="background-color: rgb(12, 159, 159)" aria-labelledby="navbarDropdownServicios">
              <a class="dropdown-item nav-link text-uppercase text-expanded" href="{% url 'donaciones'%}" style="background-color: transparent !important; color:rgb(246, 240, 237);">Ver campañas</a>
              <a class="dropdown-item nav-link text-uppercase text-expanded" href="{% url 'subir_donacion' %}" style="background-color: transparent !important; color: rgb(246, 240, 237);">Publicar campaña</a>
            </div>
          </li>
      {% endif %}
        

          <li class="nav-item dropdown px-lg-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownServicios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MÁS SERVICIOS
            </a>
            <div class="dropdown-menu" style="background-color: rgb(12, 159, 159)" aria-labelledby="navbarDropdownServicios">
              <a class="dropdown-item nav-link text-uppercase text-expanded" href="#" style="background-color: transparent !important; color: rgb(246, 240, 237);">Veterinarias de turno</a>
              <a class="dropdown-item nav-link text-uppercase text-expanded" href="#" style="background-color: transparent !important; color: rgb(246, 240, 237);">BUSQUEDA DE PERROS</a>
              <a class="dropdown-item nav-link text-uppercase text-expanded" href="#" style="background-color: transparent !important; color: rgb(246, 240, 237);">PAESADORES Y CUIDADORES</a>
              <!--{% url 'veterinariasDeTurno'%}" poner eso en href cuando sea necesario-->
            </div>
          </li>
         
        
         
        </ul>
      </div>
    </div>
  </nav>


    <!-- Contenido cambiante-->
    {% block content %}


    {% endblock %}

   <!-- Footer -->
   <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
      </p>
      <p class="m-0 mbt">
          <a href="#" class="link">Política de privacidad<a> 
          <a href="#" class="link">Aviso legal</a> 
          <a href="#" class="link">Cookies</a>
      </p>
      <p class="m-0 mbt1">&copy; Oh My Dog 2023</p>
    </div>
  </footer>

  <!-- Bootstrap -->
  <script src="{% static 'ohmydogapp/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'ohmydogapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>