<html>
  
  <head>
    
    {% load static %}
    
    <!-- Incluir los archivos estáticos de Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Bootstrap -->
    <link href="{% static 'ohmydogapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'ohmydogapp/css/gestion.css'%}" rel="stylesheet">

    {% if request.user.is_staff %}

    <div style="background-color: rgb(237, 237, 20); color: black; text-align: center;">
      <div style="padding: 0.2cm;">  
        <h7>Estas en modo administrador</h7>
        <a href="{% url 'register'%}" class="boton-iniciar-sesion" style="background-color:rgb(0, 123, 255); color: white;">Registrar nuevo usuario</a>
      </div>
    </div>
    {% endif %}
    {% if request.user.es_donante %}
    <div style="background-color: rgb(33, 137, 56); color: black; text-align: center;">
      <div style="padding: 0.2cm;">  
        <h7 style="color: white;">¡Gracias por haber donado! Recibirás un descuento en tu próximo turno. </h7> 
      </div>
    </div>
    {% endif %}
</head>

<body>
  <div class="nav-grande">
    <div class="barra-superior">
      <a href="{% url 'home' %}">
        <img src="{% static 'ohmydogapp/img/logo.jpeg' %}" alt="" class="logo" style="margin-left: 5%; margin-top: 5%;" >
      </a>
      <h1 style="font-size:xx-large; margin: auto;">¡OHMYDOG!</h1>
    
      {% if not request.user.is_authenticated %}
         <a href="{% url 'loguear' %}" class="btn btn-success">Iniciar sesión</a> 
      {%endif %}

      {% if request.user.is_authenticated %}
      <div style="margin-right: 2%;"> 
          
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mi cuenta
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {% if not request.user.is_staff %}
              <a class="dropdown-item" href="{% url 'alta_mascota' %}">Agregar nueva mascota</a>
              <a class="dropdown-item" href="{% url 'ver_mis_mascotas' %}">Mis mascotas</a>
              {%endif%}
              <a class="dropdown-item" href="#">Cambiar contraseña</a>
              <a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
            </div>
          </div>
      {%endif%}
      </div>
    </div>
  </div>
  
  <hr>

        
  
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div style="float: left; margin-top: 10px; margin-left: 10px;">
      {% if request.user.is_authenticated and not user.is_staff %}
        <a href="{% url 'mis_turnos' %}" class="btn btn-sm btn-success" style="height: 50px;width: 150px; font-size: large; padding: 12px;">Mis Turnos</a>
      {% endif %}
      {% if request.user.is_staff %}
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle"
                  data-toggle="dropdown">
            Turnos <span class="caret"></span>
          </button>
        
          <ul class="dropdown-menu" role="menu">
            <li><a class="dropdown-item" href="{% url 'turnos_pendientes' %}">Ver turnos pendientes</a></li>
            <li><a class="dropdown-item" href="{% url 'turnos_activos' %}">Ver turnos activos</a></li>
            <li><a class="dropdown-item" href="{% url 'turnos_pasados' %}">Ver turnos finalizados</a></li>
          </ul>
        </div>
      {% endif %}
    </div>
    <div class="container" style="text-align: center; margin: auto;">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'home' %}">Oh My Dog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav nav-fill">
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Inicio</a>
          </li>
          <li class="nav-item {% if request.path == '/adopcion/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'adopcion' %}" >Adopción de perros</a>
          </li>
          <li class="nav-item {% if request.path == '/donacion/donaciones' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'donaciones'%}" >Donaciones</a>
          </li>
          <li class="nav-item {% if request.path == '/perdidaBusqueda/' %}active{% endif %} px-lg-4">
            <!--<a class="nav-link text-uppercase text-expanded" href="{% url 'perdidaBusqueda' %}">Busqueda de perros</a>-->
            <a class="nav-link text-uppercase text-expanded" href="#">Búsqueda de perros</a>
          </li>
          <li class="nav-item {% if request.path == '/contactoPaseadoresCuidadores/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="#">Paseadores y cuidadores</a>
            <!--<a class="nav-link text-uppercase text-expanded" href="{% url 'contactoPaseadoresCuidadores'%}">Paseadores y cuidadores</a>-->
          </li>
          <li class="nav-item {% if request.path == '/contactoPaseadoresCuidadores/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="#">Veterinarias de turno</a>
            <!--<a class="nav-link text-uppercase text-expanded" href="{% url 'contactoPaseadoresCuidadores'%}">Paseadores y cuidadores</a>-->
          </li>        
         
        </ul>
      </div>
    </div>
  </nav>


    <!-- Contenido cambiante-->
    {% block content %}


    {% endblock %}

   <!-- Footer -->
   <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
      </p>
      <p class="m-0 mbt">
          <a href="#" class="link">Política de privacidad<a> 
          <a href="#" class="link">Aviso legal</a> 
          <a href="#" class="link">Cookies</a>
      </p>
      <p class="m-0 mbt1">&copy; Oh My Dog 2023</p>
    </div>
  </footer>

  <!-- Bootstrap -->
  <script src="{% static 'ohmydogapp/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'ohmydogapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>