<html>
  
  <head>
    
    {% load static %}
    
    <!-- Incluir los archivos estáticos de Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Bootstrap -->
    <link href="{% static 'ohmydogapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'ohmydogapp/css/gestion.css'%}" rel="stylesheet">
</head>

<body>
  <div class="nav-grande">
    <div class="barra-superior">
      <a href="{% url 'home' %}">
        <img src="{% static 'ohmydogapp/img/logo.jpeg' %}" alt="" class="logo" >
      </a>
      <div>
        <h1>¡OHMYDOG!</h1>
      </div>


      {% load static %}

      {% if request.user.is_authenticated %} 
          ¡Hola {{request.user.nombre}}!  

          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mi cuenta
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
              <a class="dropdown-item" href="#">Cambiar contraseña</a>
            </div>
          </div>
      {%endif%}
        
        
        <div class="botones-barra-superior">
        
        
        {% if request.user.is_staff %}
          <a href="{% url 'register'%}" class="boton-iniciar-sesion">Registrar nuevo usuario</a>
        {%  endif %}
        <!-- INICIO Y CIERRE DE SESIÓN -->
        {% if not request.user.is_authenticated %}

          <a href="{% url 'loguear' %}" class="boton-iniciar-sesion">Iniciar sesión</a> 
        {%  endif %}
      </div>
    </div>
  </div>

  


  
 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div style="float: left; margin-top: 10px; margin-left: 10px;">
    {% if request.user.is_authenticated and not user.is_staff %} <!--Aca habria que agregar un and if is not staff. No se como se hace-->
      <a href="{% url 'mis_turnos' %}" class="btn btn-sm btn-success" style="height: 50px;width: 150px; font-size: large; padding: 12px;">Mis Turnos</a>
    {% endif %}
  </div>
    <div class="container">
      <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="{% url 'home' %}">Oh My Dog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'home' %}">Inicio</a>
          </li>
          <li class="nav-item {% if request.path == '/adopcion/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="{% url 'adopcion' %}">Adopcion</a>
          </li>
          <li class="nav-item {% if request.path == '/perdidaBusqueda/' %}active{% endif %} px-lg-4">
            <!--<a class="nav-link text-uppercase text-expanded" href="{% url 'perdidaBusqueda' %}">Busqueda de perros</a>-->
            <a class="nav-link text-uppercase text-expanded" href="#">Busqueda de perros</a>
          </li>
          <li class="nav-item {% if request.path == '/contactoPaseadoresCuidadores/' %}active{% endif %} px-lg-4">
            <a class="nav-link text-uppercase text-expanded" href="#">Paseadores y cuidadores</a>
            <!--<a class="nav-link text-uppercase text-expanded" href="{% url 'contactoPaseadoresCuidadores'%}">Paseadores y cuidadores</a>-->
          </li>
          <li class="nav-item dropdown px-lg-4">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownServicios" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MÁS SERVICIOS
            </a>
            <div class="dropdown-menu" style="background-color: rgb(12, 159, 159)" aria-labelledby="navbarDropdownServicios">
              <a class="dropdown-item nav-link text-uppercase text-expanded" href="#" style="background-color: transparent !important; color:rgb(255, 94, 0);">Donaciones</a>
              <!--{% url 'donacion'%}" poner eso en href cuando sea necesario-->
              <a class="dropdown-item nav-link text-uppercase text-expanded" href="#" style="background-color: transparent !important; color: rgb(255, 94, 0);">Veterinarias de turno</a>
              <!--{% url 'veterinariasDeTurno'%}" poner eso en href cuando sea necesario-->
            </div>
          </li>
         
        
         
        </ul>
      </div>
    </div>
  </nav>


    <!-- Contenido cambiante-->
    {% block content %}


    {% endblock %}

   <!-- Footer -->
   <footer class="footer text-faded text-center py-5">
    <div class="container">
      <p class="m-0">
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" class="link">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
      </p>
      <p class="m-0 mbt">
          <a href="#" class="link">Política de privacidad<a> 
          <a href="#" class="link">Aviso legal</a> 
          <a href="#" class="link">Cookies</a>
      </p>
      <p class="m-0 mbt1">&copy; Oh My Dog 2023</p>
    </div>
  </footer>

  <!-- Bootstrap -->
  <script src="{% static 'ohmydogapp/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'ohmydogapp/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>


</html>