{% extends "ohmydogapp/base.html" %}

{% load static %}

{% block content %}



    <div style="margin-bottom:0px; text-align: center">
      <h1 style=" text-align: center; color: white; font-size: 40px; margin-top: 15px;">Paseadores y cuidadores</h1>
    <div style="margin-right:20px; text-align: right">
      {% if request.user.is_staff %}
         <a href="{% url 'alta_proveedor' %}" class="btn btn-primary">Dar de alta proveedor</a> 
      {%endif %}
      
    </div>
    </div>
    <div style="margin-left: 10px; color:  white; align-items: center; justify-content: center; text-align: center;"><form method="POST"> {% csrf_token %}
        {% for field in filtro %}
                <td><strong>{{ field.label }}</strong> {{field}} </td>
            {% endfor %}
            <input type="submit" value="Aplicar filtro" class="btn btn-info"></input>
            <a href="{% url 'contactoPaseadoresCuidadores' %}" class="btn btn-info">Reestablecer filtro</a>
    </form></div>

    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <div class="alert alert-success" role="alert" style="text-align: center; margin-left: 30%; margin-right: 30%;">
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            </div>
        {% endfor %}
    </ul>
    {% endif %}
    
    {% if proveedores %}
    
        {% for proveedor in proveedores %}
        {% if not proveedor.baja %}
        
        <div class="tarjeta-carac" style="margin-bottom: 10px; align-items: center;">
        <div class="container" style="align-self: center">
            <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                <div class="card" style="background-color: rgba(12, 159, 159); align-self: center; align-items: center;">
                    <div class="card-body " style="text-align: center; background-color: rgba(12, 159, 159);" >
                    <p class="card-title"style="color: white; "><strong> Nombre:</strong> {{proveedor.nombre}} {{proveedor.apellido}}</p>
                    <p class="card-text"style="color: white;"><strong> Email:</strong> {{proveedor.email}}</p>
                    <p class="card-text"style="color: white;"><strong> Telefono:</strong> {{proveedor.telefono}}</p>
                    <p class="card-text"style="color: white;"><strong> Servicio ofrecido:</strong> {{proveedor.get_rol_display}}</p>
                    <p class="card-text" style="color: white;"><strong> Zona:</strong> {{proveedor.zona}}</p>
                    {% if not proveedor.direccion == '' %}
                        <p class="card-text" style="color: white;"><strong> Direccion:</strong> {{proveedor.direccion}}</p>
                    {% endif %}
                    {% if request.user.is_staff %} 
                        <div style="margin-bottom: 15px;">
                            <a onclick="return window.confirm('Estas seguro?')" href="{% url 'bajar_proveedor' proveedor.id %}" class="btn btn-danger">Eliminar {{proveedor.get_rol_display}}</a>
                            <a href="{% url 'baja_temporal' proveedor.id %}" class="btn btn-warning">Baja temporal</a>
                        </div>
                    {% endif %} 
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div>
        &nbsp;
        </div>
    </div>
        {% endif %}
        {% if proveedor.baja and request.user.is_staff %}
        <div class="tarjeta-carac" style="margin-bottom: 10px; align-items: center;">
            <div class="container" style="align-self: center">
                <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner text-center rounded">
                    <div class="card" style="background-color: rgba(12, 159, 159); align-self: center; align-items: center;">
                        <div class="card-body " style="text-align: center; background-color: rgba(12, 159, 159);" >
                        <h6 class="card-title"style="background-color: yellow; color: white;"><strong> Oculto</strong></h6>
                        <p class="card-title"style="color: white; "><strong> Fecha limite:</strong> {{proveedor.fecha_baja}}</p>
                        <p class="card-title"style="color: white; "><strong> Nombre:</strong> {{proveedor.nombre}} {{proveedor.apellido}}</p>
                        <p class="card-text"style="color: white;"><strong> Email:</strong> {{proveedor.email}}</p>
                        <p class="card-text"style="color: white;"><strong> Telefono:</strong> {{proveedor.telefono}}</p>
                        <p class="card-text"style="color: white;"><strong> Servicio ofrecido:</strong> {{proveedor.get_rol_display}}</p>
                        <p class="card-text" style="color: white;"><strong> Zona:</strong> {{proveedor.zona}}</p>
                        {% if not proveedor.direccion == '' %}
                            <p class="card-text" style="color: white;"><strong> Direccion:</strong> {{proveedor.direccion}}</p>
                        {% endif %}
                            <div style="margin-bottom: 15px;">
                                <a onclick="return window.confirm('Estas seguro?')" href="{% url 'bajar_proveedor' proveedor.id %}" class="btn btn-danger">Eliminar {{proveedor.get_rol_display}}</a>
                                <a href="{% url 'resubir_proveedor' proveedor.id %}" class="btn btn-success">Resubir {{proveedor.get_rol_display}}</a>
                            </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div>
            &nbsp;
            </div>
        </div>
        {% endif %}
        {% endfor %}

    {% else %}

    <section class="page-section cta"  style="margin-top: 10px; background-color: rgba(12, 159, 159)">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <p></p>
              <span class="section-heading-upper">Lo sentimos. Aun no hay paseadores ni cuidadores publicados</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endif %}

{% endblock %}