{% extends "ohmydogapp/base.html" %}

{% load static %}

{% block content %}

        {% if 'valido' in request.GET %}
        <div class="alert alert-info" role="alert" style="text-align: center; margin: auto; margin-top: 10px; width: 40%;">
            El turnero se ha eliminado exitosamente
        </div>
        {% endif %}

    {% if data %}
    <div class="container" style="margin-top: 15px; background-color:  rgba(12, 159, 159); ">
        <div style="text-align: center; margin-top: 10px;">
            <table style="margin-top: 10px;">
        
    
            {{data | safe}} 
        </table>

        </div>
    </div>  
    {% else %}
        <section class="page-section cta"  style="background-color: rgba(12, 159, 159); margin-bottom: 10px;">
        <div class="container" style="margin-bottom: 10px;">
            <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                    <p></p>
                    <span class="section-heading-upper">Lo sentimos. Aun no esta cargada la planilla de este mes</span>
                </h2>
                </div>
            </div>
            </div>
        </div>
        </section>

    {% endif %}

    {% if request.user.is_staff %}

    <form  method="post" enctype="multipart/form-data">
        <div style="justify-content: left; text-align: left;">
        <div style="margin-top: 10px; margin-left: 15px; color: white;">
            {% csrf_token %}
            {{form.as_table}}
        </div>
        <div style="margin-left: 100px;">
        <input type="submit" value="Subir" class="btn btn-primary">
        <a href="{% url 'borrar_archivo' %}" class="btn btn-warning" style="margin-left: 10px;">Borrar</a>
        </div>
    </div>
    </form>


    {% endif %}




{% endblock %}
