{% extends "ohmydogapp/base.html" %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Realizar donación</title>
    <script src="https://js.stripe.com/v3/"></script>

</head>
<body>

{%if mensaje%}
	<div class="container" style="margin-top: 0.7%">
		<div class="alert alert-danger alert-dismissible fade show" style="text-align: center;">
			{{mensaje}}
		</div>
	</div>
{%endif%}

<div class="contact-clean;" style="margin-bottom: 0.7%; margin-top: 0.7%" >
	<div class="container" style="background-color: white; border-color: rgb(12, 10, 10); border-width: medium;  border-style: solid">
		
			<h1 class="text-center text-dark">
				Ingrese los datos para hacer la donación con motivo: <br>
				{{donacion_motivo}}
			</h1>
			<form action="" style="width:100%; max-width:100%;" method="POST" id="payment-form">{% csrf_token %}
				<div class="illustration">
					<i class="icon ion-ios-navigate"></i>
				</div>
				<div class="form-group"; style="margin-top: 0.5%;">
					
					<input class="form-control" type="nombre" id="nombre" name="nombre" placeholder="Ingrese el nombre y apellido que figura en la tarjeta" pattern="[A-Za-z ]+" title="Por favor, ingrese solo letras en el campo del nombre" required >
					<br>
					<input class="form-control" type="number" name="amount" id="amount"  placeholder="Ingresa el monto a donar" min="1" max="999999" step="1" required>
				</div>
				<div>
					<label for="card-elemenst" >
						Tarjeta de crédito o débito
					</label>
					<div id="card-element">
						<!-- A Stripe Element will be inserted here. -->
					</div>
					
					<!-- Used to display form errors. -->
					<div id="card-errors" role="alert"></div>
					
				</div>
				
				<div class="form-group" style="margin-top: 2%;">
					<button class="btn btn-primary" type="submit">Donar</button>
				</div>
			</form>

		
	</div>
</div>
			
			
<script>
	// Obtén el elemento de entrada de monto
	var amountInput = document.getElementById('amount');
	
	// Escucha el evento input en el campo de entrada de monto
	amountInput.addEventListener('input', function(event) {
	  // Elimina cualquier carácter no numérico
	  amountInput.value = amountInput.value.replace(/\D/g, '');
    
	});
</script>			
			
			
			
			

			
		<script>
		// Create a Stripe client.
		var stripe = Stripe('pk_test_51NDyipASwHsRVYQPq0IiTASUhbGRNeusdUNmVV8d9hyyxM5Vlh63w4sAegewRT4j96l6JUSUicz4nhcd8G5qar3i00qiEZ2wcJ');

		// Create an instance of Elements.
		var elements = stripe.elements();



		
		// Custom styling can be passed to options when creating an Element.
		// (Note that this demo uses a wider set of styles than the guide below.)
		var style = {
		  base: {
		    color: '#32325d',
		    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
		    fontSmoothing: 'antialiased',
		    fontSize: '16px',
		    '::placeholder': {
		      color: '#aab7c4'
		    }
		  },
		  invalid: {
		    color: '#fa755a',
		    iconColor: '#fa755a'
		  }
		};

		// Create an instance of the card Element.
		var card = elements.create('card', {hidePostalCode: true});

		// Add an instance of the card Element into the `card-element` <div>.
		card.mount('#card-element');

		// Handle real-time validation errors from the card Element.
		card.addEventListener('change', function(event) {
		  var displayError = document.getElementById('card-errors');
		  if (event.error) {
		    displayError.textContent = event.error.message;
		  } else {
		    displayError.textContent = '';
		  }
		});

		// Handle form submission.
		var form = document.getElementById('payment-form');
		form.addEventListener('submit', function(event) {
		  event.preventDefault();

		  stripe.createToken(card).then(function(result) {
		    if (result.error) {
		      // Inform the user if there was an error.
		      var errorElement = document.getElementById('card-errors');
		      errorElement.textContent = result.error.message;
		    } else {
		      // Send the token to your server.
		      stripeTokenHandler(result.token);
		    }
		  });
		});
		

		// Submit the form with the token ID.
		function stripeTokenHandler(token) {
		  // Insert the token ID into the form so it gets submitted to the server
		  var form = document.getElementById('payment-form');
		  var hiddenInput = document.createElement('input');
		  hiddenInput.setAttribute('type', 'hidden');
		  hiddenInput.setAttribute('name', 'stripeToken');
		  hiddenInput.setAttribute('value', token.id);
		  form.appendChild(hiddenInput);

		  // Submit the form
		  form.submit();
		}
	</script>


   

</body>

</html>
{% endblock %}