{% extends "ohmydogapp/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}



<div class="contenedorFormulario">
    <div class="col-md-12">
      <h3 class="text-center" style="margin-top: 5px;"><strong>Subir adopcion</strong></h3>
      <form action="" method="POST">
        {% csrf_token %}
        {% if error %}
          <div class="alert alert-danger" role="alert">
           {{error}}
        </div>
        {% elif mensaje2 %}
        <div class="alert alert-success" role="alert">
          {{ mensaje2 }}
      </div>
        {% elif mensaje %}
          <div class="alert alert-success" role="alert">
            Tu publiicacion fue añadida correctamente
        </div>
        {% endif %}


        {{ formulario|crispy }}
        <input class="btn btn-primary" type="submit" value="Confirmar">
      </form>   
    <a class="btn btn-primary" type="submit" href="{% url 'home' %}">Volver</a> </a>
    </div>
  </div>
{% endblock %}