<html>
  {% extends "ohmydogapp/base.html" %}
  
  {% load static %}
  
  
  {% block content %}

  {% if 'valido' in request.GET %}
  <div class="alert alert-success" role="alert" style="margin: auto; margin-top: 20px; margin-bottom: 20px; width: 50%; text-align: center;">
      ¡La publicacion se ha eliminado correctamente!
  </div>
{% endif %}

{% if 'valido2' in request.GET %}
<div class="alert alert-success" role="alert" style="margin: auto; margin-top: 20px; margin-bottom: 20px; width: 50%; text-align: center;">
    ¡Se ha cambiado el estado de la publicación!
</div>
{% endif %}

  {% if adopciones %}
  <ul>
    {% for adopcion in adopciones %}
    
    <div class="tarjeta-carac">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <div class="card" style="background-color: rgba(12, 159, 159);">
                <div class="card-body " style="text-align: center; background-color: rgba(12, 159, 159);" >
                  <p class="card-title"style="color: white; "><strong> Nombre:</strong> {{adopcion.nombre}}</p>
                  <p class="card-text" style="color: white;"><strong> Fecha de nacimiento:</strong> {{adopcion.fecha_nacimiento}}</p>
                  <p class="card-text"style="color: white;"><strong> Tamaño:</strong> {{adopcion.get_tamaño_display}}</p>
                  <p class="card-text"style="color: white;"><strong> Sexo:</strong> {{adopcion.get_sexo_display}}</p>
                  <p class="card-text"style="color: white;"><strong> Comentarios:</strong> {{adopcion.comentarios}}</p>
                  <p class="card-title"style="color: white; "><strong> Estado:</strong> {{adopcion.get_estado_display}}</p>
                </div>
                {% if adopcion.get_estado_display == 'En adopción' %}
                  {% if not request.user == adopcion.dueño and not request.user.is_staff %} 
                    <div>
                      <a href="{% url 'contactar' adopcion.id %}" class="btn btn-success" style="margin-bottom: 10px;">Contactar</a>
                    </div>
                  {% endif %} 
                {% endif %} 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      &nbsp;
    </div>
  </div>
    {% endfor %}
    </ul>
    {% else %}
    <section class="page-section cta"  style="background-color: rgba(12, 159, 159)">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <p></p>
                <span class="section-heading-upper">No hay perros en adopción :D</span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    
    
    {% endblock %}
</html>