{% extends "ohmydogapp/base.html" %}

{% load static %}

{% block content %}
<p></p>
<button class="btn success">Publicar perro en adopción</button>

    {% for adopcion in adopciones %}
      <section class="page-section cta">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">{{adopcion.nombre}}</span>
                </h2>
                <p class="mb-0">
                    Nombre: {{adopcion.nombre}} <br>
                    Edad: {{adopcion.edad}}   <br>
                    Tamaño: {{adopcion.tamaño}} <br>
                    Raza: {{adopcion.raza}} <br>
                    Sexo: {{adopcion.sexo}} <br>
                    Descripcion: {{adopcion.comentarios}} <br>
                </p>
                <p></p>
                <button class="btn success">Contactar</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endfor %}


{% endblock %}