{% extends "ohmydogapp/base.html" %}

{% load static %}

{% block content %}
<p></p>
<a href="{% url 'solicitud' %}" class="btn success">Publicar perro en adopción</a>
{% if adopciones %}
<ul>
    {% for adopcion in adopciones %}
      <section class="page-section cta">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-upper">{{adopcion.nombre}}</span>
                </h2>
                <p class="mb-0">
                    Nombre: {{adopcion.nombre}} <br>
                    Edad: {{adopcion.edad}}   <br>
                    Tamaño: {{adopcion.get_tamaño_display}} <br>
                    Sexo: {{adopcion.get_sexo_display}} <br>
                    Descripcion: {{adopcion.comentarios}} <br>
                </p>
                <p></p>
                <button class="btn success">Contactar</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    {% endfor %}
</ul>
{% else %}
  <section class="page-section cta">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                  <p></p>
                  <span class="section-heading-upper">No hay perros en adopción :D</span>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endif %}


{% endblock %}