{% extends "ohmydogapp/base.html" %}

{% load crispy_forms_tags %}

{% load static %}


{% block content %}

    
    
  <div class="contenedorFormulario" style="margin-bottom: 20px;">
      <div class="col-md-12">
      <h3 class="text-center" style="margin-top: 5px;"><strong>Editar adopcion</strong></h3>
              <form action="" method="POST">
                {% csrf_token %}
                {% if error %}
                  <div class="alert alert-danger" role="alert">
                  {{error}}
                  </div>
                {% elif mensaje2 %}
                  <div class="alert alert-danger alert-dismissible fade show">
                  {{ mensaje2 }}
                  </div>
                {% elif mensaje %}
                  <div class="alert alert-success" role="alert">
                  {{mensaje}}
                  </div>
                {% endif %}



                {{formulario_adopcion|crispy}}
                <div style="justify-items: center; text-align: center;">
                <input class="btn btn-success" type="submit" value="Confirmar"  style="margin-right: 10px;">
                <a href="{% url 'adopcion' %}" class="btn btn-danger" type="submit"  style="margin-left: 10px;"> Volver </a>
                </div>
              </form>   
        </div>
   </div>

{% endblock %}
