{% extends "ohmydogapp/base.html" %}

{% load static %}

{% block content %}

{% if messages %}
    {% for message in messages %}
      <div class="alert alert-success" role="alert" style="margin: auto; margin-top: 20px; margin-bottom: 20px; width: 50%; text-align: center;">
        {{message}}
      </div>
    {% endfor %}
{% endif %}


<div style="margin:auto; text-align: center">
<h1 style=" text-align: center; color: white; font-size: 40px; margin-top: 15px;">Publicaciones de perros perdidos</h1>
{% if user.is_authenticated and  not user.is_staff %}
<div style="text-align: center; display: inline-block;">
  <a href=" {% url 'publicar_perro_perdido' %}" class="btn btn-success">Publicar perro perdido</a>
  </div>
{% endif %}

</div>

{% if perros_perdidos %}
<ul>

<div class="container my-3">
 <div class="row">
{% for perdido in perros_perdidos %}
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="card rounded-lg mb-3 bg-custom ">
            {% if perdido.foto %}
                  <img src="{{perdido.foto.url}}" class="card-img-top">
              {% endif %}
              <div class="card-body rounded bg-custom">
                <p class="card-title"style="color: white; "><strong> Estado:</strong> {{perdido.get_estado_display}}</p>

                {% if perdido.get_estado_display == "Encontrado" %}
                    <p class="card-text" style="color: white;"><strong> Lo encontramos el:</strong> {{perdido.fecha_perdido}}</p>
                {% else %}
                    {% if not perdido.get_estado_display == "Localizado" %}
                        <p class="card-text" style="color: white;"><strong> Esta perdido desde:</strong> {{perdido.fecha_perdido}}</p>
                    {% endif %}
                {% endif %}
                
                {% if perdido.nombre %}
                    <p class="card-title"style="color: white; "><strong> Nombre:</strong> {{perdido.nombre}}</p>
                {% endif %}
  
                {% if perdido.fecha_nacimiento %}
                    <p class="card-text" style="color: white;"><strong> Edad:</strong> {{perdido.fecha_nacimiento}}</p>
                {% endif %}
  
                <p class="card-text"style="color: white;"><strong> Tamaño:</strong> {{perdido.get_tamaño_display}}</p>
                <p class="card-text"style="color: white;"><strong> Sexo:</strong> {{perdido.get_sexo_display}}</p>
                {% if perdido.get_estado_display == 'Extraviado' %}
                  <p class="card-text"style="color: white;"><strong> Se perdio por:</strong> {{perdido.zona}}</p>
                {% else %}
                  <p class="card-text"style="color: white;"><strong> Se lo encontro por:</strong> {{perdido.zona}}</p>
                {% endif %}
                <p class="card-text"style="color: white;"><strong> Comentarios:</strong> {{perdido.comentario}}</p>
               
            
              {% if perdido.get_estado_display == 'Extraviado' or perdido.get_estado_display == 'Encontrado' %}
                {% if not request.user == perdido.dueño and not request.user.is_staff %} 
                  <div>
                    <a href="{% url 'comunicarse_por_perro_perdido' perdido.id%}" class="btn btn-success" style="margin-bottom: 10px;">Contactar</a>
                  </div>
                {% endif %}
              {% endif %} 
              {% if request.user == perdido.dueño and not perdido.get_estado_display == "Localizado" %}
                <div>
                  <a href="{% url 'eliminar_publicacion' perdido.id %}" class="btn btn-success" style="background-color: rgba(156, 27, 156, 0.863); margin-bottom: 10px;">Eliminar publicación</a>
                  <a href="{% url 'cambiar_a_localizado' perdido.id %}" class="btn btn-success" style="background-color: rgb(159, 0, 0); margin-bottom: 10px;">¡Fue localizado!</a>
                </div>
              {% endif %}
              </div>
            </div>
      </div>
  {% endfor %}
</div>
</div>

</ul>
{% else %}
<section class="page-section cta"  style="background-color: rgba(12, 159, 159)">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <p></p>
            <span class="section-heading-upper">No hay perros perdidos :D</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}


{% endblock %}