{% extends "ohmydogapp/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div class="contenedorFormulario" style="justify-items: center;">
    <div class="col-md-12">
      <h2 class="text-center" style="margin-top: 5px;"><strong>Publicar perro perdido</strong></h2>
      <form action="" method="POST" style="width: 80%; margin: auto;">
        {% csrf_token %}
        {% if error %}
          <div class="alert alert-danger" role="alert">
           {{error}}
        </div>
        {% elif mensaje2 %}
        <div class="alert alert-danger alert-dismissible fade show">
          {{ mensaje2 }}
      </div>
        {% elif mensaje %}
          <div class="alert alert-success" role="alert">
            Tu publicacion fue añadida correctamente.
        </div>
        {% endif %}


        {{ formulario_perro_perdido|crispy }}
        <div style="justify-items: center; text-align: center;">
        <input class="btn btn-success" type="submit" value="Confirmar" style="margin: auto; margin-bottom: 10px;">
        <a class="btn btn-danger" type="submit" href="{% url 'mostrar_perros_perdidos' %}" style="margin: auto;  margin-bottom: 10px">Volver</a>
      </div>
      </form>   
    
    </div>
  </div>

{% endblock %}