{% extends "ohmydogapp/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div class="contenedorFormulario" style="justify-items: center;">
    <div class="col-md-12">
      <h2 class="text-center" style="margin-top: 5px;"><strong>Publicar perro perdido</strong></h2>
      <form action="" method="POST" enctype="multipart/form-data" style="width: 80%; margin: auto;">
        {% csrf_token %}
        {% if error %}
          <div class="alert alert-danger" role="alert">
           {{error}}
        </div>
        {% elif mensaje2 %}
        <div class="alert alert-danger alert-dismissible fade show">
          {{ mensaje2 }}
      </div>
        {% elif mensaje %}
          <div class="alert alert-success" role="alert">
            Tu publicacion fue añadida correctamente.
        </div>
        {% endif %}


        {{ form|crispy }}
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
      // Function to update form field values when perro field changes
      function updateFormFields() {
        var perroId = $("#id_perro").val(); // Get the selected perro's ID
        if (perroId) {
          // Send an AJAX request to fetch the perro details
          $.ajax({
            url: "/perdidaBusqueda/perro/" + perroId + "/", // Replace with your actual API endpoint URL
            type: "GET",
            success: function (data) {
              // Update form field values with perro details
              $("#id_nombre").val(data.nombre);
              $("#id_fecha_nacimiento").val(data.fecha_nacimiento);
              $("#id_raza").val(data.raza);
              $("#id_sexo").val(data.sexo);
              $("#id_observaciones").val(data.observaciones)
            },
          });
        } else {
          // Clear form field values if no perro is selected
          $("#id_nombre").val("");
          $("#id_fecha_nacimiento").val("");
          $("#id_raza").val("");
          $("#id_sexo").val("");
          $("#id_tamaño").val("");
          $("#id_estado").val("");
          $("#id_observaciones").val("")

        }
      }
  
      // Event listener for perro field change
      $("#id_perro").change(function () {
        updateFormFields();
      });
  

    </script>
        <div style="justify-items: center; text-align: center;">
        <input class="btn btn-success" type="submit" value="Confirmar" style="margin: auto; margin-bottom: 10px;">
        <a class="btn btn-danger" type="submit" href="{% url 'mostrar_perros_perdidos' %}" style="margin: auto;  margin-bottom: 10px">Volver</a>
      </div>
      

      </form>   
    
    </div>
  </div>

{% endblock %}