{% extends "ohmydogapp/base.html" %}


{% load crispy_forms_tags %}

{% load static %}



{% block content %}
<div class="contenedorFormulario">
  <div class="col-md-12">

    {% if mensaje2 %}
    <div class="alert alert-warning" role="alert">
      {{mensaje2}}
    </div>
    {% endif %}


    <h3 class="text-center" style="margin-top: 5px;"><strong>Alta Mascota</strong></h3>
    <form action="" method="POST">
      {% csrf_token %}
      {% if error %}
        <div class="alert alert-danger" role="alert">
         {{error}}
      </div>
      {% elif mensaje %}
        <div class="alert alert-success" role="alert">
          Tu mascota fue añadida correctamente
      </div>
      {% endif %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" value="Confirmar">
    </form>   
  <a class="btn btn-primary" type="submit" href="{% url 'home' %}">Volver</a> </a>
  </div>
</div>
{% endblock %}