{% extends "ohmydogapp/base.html" %}


{% load crispy_forms_tags %}

{% load static %}



{% block content %}
<div class="contenedorFormulario">
  <div class="col-md-12">
  <h3 class="text-center">Alta Mascota</h3>
  <form action="" method="POST">
      {% csrf_token %}
      {% if request.user.is_staff %}
      <div id="div_id_dueño" class="form-group"> 
      <label for="id_dueño" class=" requiredField">
      Email del dueño<span class="asteriskField">*</span> 
      </label> <div> <input type="email" name="dueño" class="emailinput form-control" required="" id="id_dueño"> </div> </div>
      {% endif %}
      {{ form|crispy }}
      <input class="btn btn-primary" type="submit" value="Confirmar">


  </form>   
  <a class="btn btn-primary" type="submit" href={% url 'home' %}>Volver</a> </a>
</div>
</div>
{% endblock %}