<html>
  {% extends "ohmydogapp/base.html" %}
  
  {% load static %}
  
  
  {% block content %}
    <section class="page-section cta"  style="background-color: rgba(12, 159, 159)">
     
    {% if mi_historial %}
    <h2 class="text-center">
        <span class="section-heading-upper">Historial de turnos de {{nombre_mascota}}</span>
    </h2>
    <p>

    </p>

    <table class="table table-bordered">
       
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Motivo</th>
            <th scope="col">Monto</th>
            <th scope="col">Observaciones</th>
          </tr>
        </thead>
        <tbody>
        {% for turno in mi_historial %}
          <tr>
            <th scope="row">{{turno.fecha}}</th>
            <td> {{turno.estado}}</td>
            <td>{{turno.get_motivo_display}}</td>

            {% if turno.get_estado_display == "Rechazado" or turno.get_estado_display == "Cancelado" %}
                <td> - </td>
                <td> - </td>
            {% else %}
                <td>{{turno.monto}}$ {% if turno.descuento %} S/D  {% else %} C/D {% endif %}</td>
                <td>{{turno.observaciones}}</td>
            {% endif %}

          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <p></p>
                <span class="section-heading-upper">No hay entradas en el historial de turnos de esta mascota</span>
              </h2>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      &nbsp;<a href="{% url 'ver_mis_mascotas' %}" class="btn btn-info" role="button" aria-pressed="true">Volver</a>
    </section>
     
  {% endblock %}
</html>