<html>
  {% extends "ohmydogapp/base.html" %}
  
  {% load static %}
  
  
  {% block content %}
    <section class="page-section cta"  style="background-color: rgba(12, 159, 159)">
    {% if mi_libreta %}

    <h2 class="text-center">
        <span class="section-heading-upper">Libreta Sanitaria de {{nombre_mascota}}</span>
    </h2>
    <p>

    </p>

    <table class="table table-bordered">
       
        <thead>
          <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Peso</th>
            <th scope="col">Motivo turno</th>
            <th scope="col">Cantidad desparasitario</th>
          </tr>
        </thead>
        <tbody>
        {% for entrada in mi_libreta %}
          <tr>
            <th scope="row">{{entrada.fecha|date}}</th>
            <td> {{entrada.peso}} Kg. </td>
            <td>{{entrada.get_motivo_display}}</td>
            <td>{% if not '3' in entrada.motivo %} No corresponde {% else %} {{entrada.cantidad_desparasitario}} Ml. {% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded" style="margin-bottom: 20px;">
              <h2 class="section-heading mb-4">
                <p></p>
                <span class="section-heading-upper">No hay entradas en la libreta sanitaria de esta mascota</span>
              </h2>
            </div>
          </div>
        </div>
      </div>
  
      {% endif %}
      <div style="align-items: center; justify-content: center; align-content: center; text-align: center;">
        <a href="{% url 'ver_mis_mascotas' %}" class="btn btn-dark" role="button" aria-pressed="true">Volver</a>
    </div>
      </section>

      
     
  {% endblock %}
</html>