{% extends "ohmydogapp/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}


    <h1 style="color: white; margin: auto; margin-top: 30px; text-align: center;"><strong>Turnos finalizados</strong></h1>


    <div class="row">
        <div class="col-md-5" style="margin-right: 45px;  margin-left: 45px">
            <h2 style="color: white; margin-top: 30px; margin-bottom: 20px; text-align: center;"><strong>Turnos cerrados</strong></h2>
            {% if turnos1 %}
            <ul>
  
                {% for turno in turnos1 %} 

                    <div class="tarjeta-carac" style="width: 100%;">
                    <div class="container">
                            <div class="row">
                            <div class="col-xl-9 mx-auto">
        
                            <div class="cta-inner text-center rounded">
                            <div class="card" style="background-color: rgba(12, 159, 159);">
                                <div class="card-body " style="text-align: center; background-color: rgba(12, 159, 159);" >
                                <p class="card-title"style="color: white; "><strong> Solicitante:</strong> {{turno.dueño.nombre}}</p>
                                <p class="card-text" style="color: white;"><strong> Nombre del perro:</strong> {{turno.mascota.nombre}}</p>
                                <p class="card-text"style="color: white;"><strong> Motivo:</strong> {{turno.get_motivo_display}}</p>
                                <p class="card-text"style="color: white;"><strong> Fecha:</strong> {{turno.fecha}}</p>
                                <h6 style="margin: auto; color: white;"><strong>Historial del turno</strong></h6>
                                <p class="card-text"style="color: white;"><strong> Observaciones:</strong> {{turno.observaciones}}</p>
                                <p class="card-text"style="color: white;"><strong> Monto:</strong> $ {{turno.monto}} {% if turno.descuento %} con descuento {% else %} sin descuento {% endif %}</p>
                                </div>
                                <div >
                                </div>
                            </div>
                        </div>
                            </div>
                            </div>
                        </div>
                        </div>
        
                <div>
                &nbsp;
                </div>
            {% endfor %}
            </ul>

            {% else %}
                <section class="page-section cta" style="background-color: rgba(12, 159, 159)">
                <div class="container" style="background-color:  rgba(12, 159, 159);">
                    <div class="row">
                        <div class="col-xl-9 mx-auto">
                    
                        <div class="cta-inner text-center rounded">
                            <h2 class="section-heading mb-4">
                                <p></p>
                                <span class="section-heading-upper">No hay turnos cerrados</span>
                            </h2>
                        </div>
                    </div>
                </div>
                    
                </div>
                </section>
            {% endif %}
        
        </div>
        
        <div class="col-md-5" style="margin-right: 45px; margin-left: 45px;">
            <h2 style="color: white; margin-top: 30px; margin-bottom: 20px; text-align: center;"><strong>Turnos pasados</strong></h2>
            {% if turnos %}
            <ul>
  
                {% for turno in turnos %} 

                    <div class="tarjeta-carac" style="width: 100%;">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 mx-auto">
        
                            <div class="cta-inner text-center rounded">
                            <div class="card" style="background-color: rgba(12, 159, 159);">
                                <div class="card-body " style="text-align: center; background-color: rgba(12, 159, 159);" >
                                <p class="card-title"style="color: white; "><strong> Solicitante:</strong> {{turno.dueño.nombre}}</p>
                                <p class="card-text" style="color: white;"><strong> Nombre del perro:</strong> {{turno.mascota.nombre}}</p>
                                <p class="card-text"style="color: white;"><strong> Motivo:</strong> {{turno.get_motivo_display}}</p>
                                <p class="card-text"style="color: white;"><strong> Fecha:</strong> {{turno.fecha}}</p>
                                <p class="card-text"style="color: white;"><strong> Franja Horaria:</strong> {{turno.get_franjaHoraria_display}}</p>
                                <p class="card-text"style="color: white;"><strong> Estado:</strong> {{turno.get_estado_display}}</p>
                                </div>
                                <div >
                                </div>
                            </div>
                        </div>
                            </div>
                            </div>
                        </div>
                        </div>
        
                <div>
                &nbsp;
                </div>
            {% endfor %}
            </ul>

            {% else %}
                <section class="page-section cta" style="background-color: rgba(12, 159, 159)">
                <div class="container" style="background-color:  rgba(12, 159, 159);">
                    <div class="row">
                        <div class="col-xl-9 mx-auto">
                    
                        <div class="cta-inner text-center rounded">
                            <h2 class="section-heading mb-4">
                                <p></p>
                                <span class="section-heading-upper">No hay turnos finalizados</span>
                            </h2>
                        </div>
                    </div>
                </div>
                    
                </div>
                </section>
            {% endif %}
        
        </div>








    </div>


{% endblock %}