{% extends "ohmydogapp/base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}


<h1 style="color: white; margin: auto; margin-top: 30px; text-align: center;"><strong>Turnos activos</strong></h1>

    {% if 'valido' in request.GET %}
        <div class="alert alert-success" role="alert" style="margin: auto; margin-top: 20px; margin-bottom: 20px; width: 50%; text-align: center;">
            El turno se ha cerrado exitosamente
        </div>
    {% endif %}
    {% if 'novalido' in request.GET %}
        <div class="alert alert-danger" role="alert" style="margin: auto; margin-top: 20px; margin-bottom: 20px; width: 50%; text-align: center;">
            No puede cerrarse un turno que aun no ha ocurrido
        </div>
    {% endif %}
    {% if turnos %}
    <ul>
        {% for turno in turnos %}
        <div class="tarjeta-carac" style="width: 100%;">
        <div class="container">
            <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                <div class="card" style="background-color: rgba(12, 159, 159);">
                    <div class="card-body " style="text-align: center; background-color: rgba(12, 159, 159);" >
                    <p class="card-title"style="color: white; "><strong> Solicitante:</strong> {{turno.dueño.nombre}}</p>
                    <p class="card-text" style="color: white;"><strong> Nombre del perro:</strong> {{turno.mascota.nombre}}</p>
                    <p class="card-text"style="color: white;"><strong> Motivo:</strong> {{turno.get_motivo_display}}</p>
                    <p class="card-text"style="color: white;"><strong> Fecha:</strong> {{turno.fecha}}</p>
                    <p class="card-text"style="color: white;"><strong> Franja Horaria:</strong> {{turno.get_franjaHoraria_display}}</p>
                    </div>
                    <div >
                    </div>
                    <div>
                        <a href="{% url 'concluir_turno' pk=turno.id %}" class="btn btn-primary">Cerrar turno</a>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div>
        &nbsp;
        </div>
    
        {% endfor %}
        </ul>
        {% else %}
        <section class="page-section cta"  style="background-color: rgba(12, 159, 159)">
        <div class="container">
            <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                <h2 class="section-heading mb-4">
                    <p></p>
                    <span class="section-heading-upper">No hay turnos activos</span>
                </h2>
                </div>
            </div>
            </div>
        </div>
        </section>
        {% endif %}

    </div>

</div>

{% endblock %}